04 Multilayer Perceptron/.ipynb_checkpoints
data
03 SoftMax/.ipynb_checkpoints
04 Multilayer Perceptron/mlp_params
04 Multilayer Perceptron/mydict
05 Convolutional Neural Networks/.ipynb_checkpoints
04 Multilayer Perceptron/x-files
04 Multilayer Perceptron/x-file
